In [2]:
# import necessary packages
import pandas as pd

In [3]:
# read in data into a data frame
df_data = pd.read_csv(r'C:\Users\sudyu\Downloads\spx.csv')
df_data.head()

        date        spx
0  3/31/2008  1322.7000
1   4/1/2008  1370.1801
2   4/2/2008  1367.5300
3   4/3/2008  1369.3101
4   4/4/2008  1370.4000

In [4]:
# calculate daily returns
df_data["daily change"] = df_data["spx"].pct_change() 
df_data = df_data.dropna()
df_data.head()

       date        spx  daily change
1  4/1/2008  1370.1801      0.035896
2  4/2/2008  1367.5300     -0.001934
3  4/3/2008  1369.3101      0.001302
4  4/4/2008  1370.4000      0.000796
5  4/7/2008  1372.5400      0.001562

In [5]:
# sort returns
df_data["sorted daily changes"] = df_data["daily change"]
df_data = df_data.sort_values('sorted daily changes', ascending=True)
df_data.head()

            date        spx  daily change  sorted daily changes
3011   3/16/2020  2386.1299     -0.119841             -0.119841
3009   3/12/2020  2480.6399     -0.095113             -0.095113
139   10/15/2008   907.8400     -0.090350             -0.090350
171    12/1/2008   816.2100     -0.089295             -0.089295
127    9/29/2008  1106.4200     -0.088068             -0.088068

In [6]:
# perform VaR calculation
VaR = round(100*df_data.iloc[181, 3], 2)
print("With 95% confidence, the potential loss will not be greater than " + str(VaR) + "%")

With 95% confidence, the potential loss will not be greater than -1.97%