In [12]:
# import necessary packages

import numpy as np
import pandas as pd

In [13]:
# read in data to data frame

df_data = pd.read_csv(r'C:\Users\sudyu\Downloads\spx.csv')
df_data.head()

        date        spx
0  3/31/2008  1322.7000
1   4/1/2008  1370.1801
2   4/2/2008  1367.5300
3   4/3/2008  1369.3101
4   4/4/2008  1370.4000

In [14]:
# calculate daily returns

df_data["daily change"] = df_data["spx"].pct_change() 
df_data.head()

        date        spx  daily change
0  3/31/2008  1322.7000           NaN
1   4/1/2008  1370.1801      0.035896
2   4/2/2008  1367.5300     -0.001934
3   4/3/2008  1369.3101      0.001302
4   4/4/2008  1370.4000      0.000796

In [15]:
# calculate mean and standard deviation of returns

mean_of_returns = df_data["daily change"].mean()
stdev_of_returns = np.std(df_data["daily change"])

In [16]:
# perform VaR calculation

VaR = norm.ppf(0.05, mean_of_returns, stdev_of_returns)
print("With 95% confidence, the potential loss will not be greater than " + str(round(100*VaR, 2)) + "%")

With 95% confidence, the potential loss will not be greater than -2.11%